<!-- templates/login.html -->
{% extends "base.html" %}

{% block title %}用户登录{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<div class="row justify-content-center">
    <div class="col-md-6">
        {% if session.status %}
          <script>
            Swal.fire({
              icon: 'error',
              title: '用户名或密码错误',
              text: '请重新输入用户名或密码',
              confirmButtonText: '确定'
            });
          </script>
        {% endif %}
        <h2 class="mb-4">用户登录</h2>

        <form method="POST">
            <div class="mb-3">
                <label class="form-label">用户名</label>
                <input type="text" name="username" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label">密码</label>
                <input type="password" name="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">登录</button>
                <p class="mt-3">没有账号？<a href="{{ url_for('User.register') }}">去注册</a></p>
        </form>
    </div>
</div>
{% endblock %}