{% extends "base.html" %}

{% block title %}留言板{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/messages.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">留言板</h2>
    <!-- 留言表单 -->

    <!-- 留言列表 -->
    <div class="list-group">
        {% for msg in comments %}
        <div class="list-group-item mb-3">
            <div class="d-flex justify-content-between mb-2">

                <div>
                    <strong>{{ msg.username }}</strong>
                          <div class="d-flex justify-content-between">

                                <small class="text-muted">{{ msg.comment_time }}</small>
                                <small class="text-muted ms-2">{{ msg.bookname }}</small>
                            </div>
                            <p class="mt-1 mb-1">{{ msg.content }}</p>
                              <div class="text-end">
                                <form method="post" action="{{ url_for('Comment.touch_like') }}">
                                    <input type="hidden" name="comment_id" value="{{ msg.comment_id }}">
                                    <button type="submit" class="btn btn-sm btn-outline-primary">
                                        {% if msg.liked %}
                                        💖 {{ msg.like_count }}
                                        {% else %}
                                        🤍 {{ msg.like_count }}
                                        {% endif %}
                                    </button>
                                </form>
                            </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
