{% extends "base.html" %}

{% block title %}留言板{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/messages.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">留言板</h2>
    <!-- 留言表单 -->
    {% if 'username' in session %}
      <!-- 快速跳转按钮 -->
    <div class="mb-3">
        <a href="{{ url_for('Comment.showComment') }}" class="btn btn-outline-info btn-sm">
            查看最新10条留言
        </a>
    </div>
    <!-- 留言列表 -->
    <div class="list-group">
        {% for msg in comments %}
        <div class="list-group-item mb-3">
            <div class="d-flex justify-content-between mb-2">

                <div>
                    <strong>{{ msg.username }}</strong>
                    <small class="text-muted ms-2">{{ msg.comment_time }}</small>
                    <small class="text-muted ms-2">{{ msg.bookname }}</small>
                    <small class="text-muted ms-2">{{ msg.content }}</small>
                    <small class="text-muted ms-2">{{ msg.like_count }}</small>
                </div>
            </div>
            <p class="mb-1">{{ msg.content }}</p>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-info">
        需要<a href="{{ url_for('User.login') }}" class="alert-link">登录</a>后才能留言
    </div>
    {% endif %}

</div>
{% endblock %}
