{% extends "base.html" %}

{% block title %}留言板{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/messages.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">留言板</h2>
    <!-- 留言表单 -->

    <!-- 留言列表 -->
    <div class="list-group">
            {% for msg in comments %}
                <div class="comment-card mb-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5><strong>{{ msg.username }}的留言：</strong></h5>
                        <div class="comment-meta text-end">
                            <div>{{ msg.comment_time }}</div>
                            <div>《{{ msg.bookname }}》</div>
                        </div>
                    </div>
                    
                    <div class="comment-content">
                        {{ msg.content }}
                    </div>
                    
                    <div class="text-end">
                        <form method="post" action="{{ url_for('Comment.touch_like') }}" class="comment-like-form d-inline">
                            <input type="hidden" name="comment_id" value="{{ msg.comment_id }}">
                            <button type="submit" class="btn btn-sm btn-outline-primary">
                                {% if msg.liked %}
                                💖 {{ msg.like_count }}
                                {% else %}
                                🤍 {{ msg.like_count }}
                                {% endif %}
                            </button>
                        </form>
                    </div>
                </div>
            {% endfor %}            
    </div>
</div>
{% endblock %}
