.idea/
.vscode/
/project/.idea/
/project/config.py
/project/__pycache__/
/project/blueprints/__pycache__
project/.idea/misc.xml
project/.idea/
project/.idea/misc.xml
/project/.idea
/project/.idea
project/.idea/project.iml
